:root {

    --main: #e63946;
    --color1: #56e2d7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to top, var(--main) 0%, var(--main) 100%);
    flex-direction: column;
    flex-wrap: wrap;
}

.wrapper {
    background: #fff;
    padding: 10px;
    width: 500px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}


form {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

form input {
    height: 100%;
    width: 100%;
    padding: 0 50px 0 45px;
    outline: none;
    border-radius: 5px;
    /* border: 2px solid #ddd; */
    border: none;
    transition: all .2s ease-in-out;
}


form input:focus,
form input:valid {
    border-color: var(--main);
}

form span {
    position: absolute;
    right: 3px;
    width: 55px;
    text-align: center;
    font-size: 23px;
    color: #c4c4c4;
    pointer-events: none;
    border-left: 2px solid #ddd;
    line-height: .75;
    transition: all .2s ease-in-out;
}

form input:valid~span {
    color: var(--main);
}

.button {
    /* background: #fff; */
    border: 2px solid #fff;
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    cursor: pointer;
}

.button button {
    background: none;
    border: none;
    color: #fff;
    transition: all .3s ease;

}

.button button:hover {
    transform: scale(1.5);

}

.settings {
    position: fixed;
    width: 300px;
    height: 20vh;
    background: #fff;
    right: -300px;
    top: 0;
    z-index: 10;
    transition: all .2s ease;
    box-shadow: #ddd;
    border-bottom-left-radius: 5px;
}

.active {
    right: 0px;
}

.content h3 {
    text-align: center;
    position: relative;
    top: 30px;
    color: var(--main);
}

.color1 {
    background-color: var(--main);
}

.color2 {
    background-color: #56e2d7;
}

.color3 {
    background-color: rgb(255, 217, 0);
}

.color4 {
    background-color: #333;
}

.color {
    position: relative;
    width: 40px;
    height: 40px;
    left: 45px;
    display: inline-block;
    cursor: pointer;
    top: 50px;
    border-radius: 50%;

}

.activeColor {
    border: 2px solid #444;
}

.icon {
    position: absolute;
    top: 10%;
    left: -40px;
    background: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main);
    cursor: pointer;
    font-size: 23px;
}

@media (max-width: 700px) {

    .wrapper,
    .button {
        padding: 5px;
        margin: 10px;
        width: 300px;
    }
}